      <ul>
        <li>
         <a href="/estados">Estados</a>
         </li>
        <li>
            <a href="/cidades">Cidades</a>
        </li>
         <li>
            <a href="/enderecos">Endereços</a>
        </li> 
      </ul>